
@import '../../../scss/base.scss';

#appRoot {
    font-size: torem(16);
}

.topNavMenu
{
    margin: torem(10);
    height: torem(30);
}
.topNavMenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.topNavMenu ul li
{
    float: left;
}

.topNavMenu ul li a,
.topNavMenu ul li a:visited
{
    background-color: #EEE; 
    color: #999;
    display: block;
    line-height: torem(30);
    padding: torem(4) torem(20);
    text-decoration: none;
    white-space: nowrap;
}

.topNavMenu ul li a:hover,
.topNavMenu ul li a:active
{
    background-color: #DDD;
    color: #AAA;
    text-decoration: none;
}

.footer {
    text-align: center;
    margin: torem(10) 0;
    color: #999;
}