@import '../../scss/base.scss';
.product-container{
    padding: torem(10);
    pre{
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    .product-picture {
        display: block;
        width: 100%;
    }
    .product-chinesename {
        line-height: torem(36);
        font-size: torem(25);
        color:#101010;
    }
    .product-name {
        line-height: torem(23);
        font-size: torem(16);
        color: #b3aab3;
    }
    .product-score{
        display: block;
        width: torem(19);
        height: torem(19);
        float: right;
        margin: torem(7) torem(3) torem(7) torem(0);
    }
    .product-scorenum{
        color: #b3aab3;
        line-height: torem(24);
        font-size: torem(18);
        text-align: right;
    }
    .product-picture {
        display: block;
        width: 100%;
        min-height: torem(150);
    }
    .product-platform {
        font-size: torem(16);
        line-height: torem(20);
        margin: torem(18) torem(0) torem(14) torem(0);
        .product-devicepic img {
            width: torem(30);
            display: block;
            float: left;
        }
        .platform-title {
            margin: torem(5) torem(20) 0 torem(10);
            display: block;
            float: left;
        }
        .platform-device{
            height: torem(25);
            padding: 0 torem(10);
            line-height: torem(25);
            color: #b3aab3;
            border: torem(1) solid #aaaaaa;
            margin: torem(5) torem(10) 0 0;
            font-size: torem(14);
            display: inline-block;
        }
    }
    .product-desc {
        font-size: torem(14);
        line-height: torem(20);
        padding-top: torem(14);
        color: #101010;
    }
    .product-toplink {
        display: block;
        margin: torem(10) auto;
        width: 100%;
        text-align: center;
        font-size: torem(14);
        line-height: torem(20);
    }
}
